<div class="grid-container">
  <h1 class="mat-h1">Search</h1>
  <div class="container">
    <div class="search">
      <form class="search-form">
        <mat-form-field class="search-full-width"
          appearance="outline">
          <mat-label>Schema Name</mat-label>
          <input matInput
            [formControl]="searchControl">
        </mat-form-field>
      </form>
      <mat-radio-group aria-label="Select an option"
        [(ngModel)]="searchParams">
        <mat-radio-button
          value="searchBy=name">Search by name</mat-radio-button>
        <mat-radio-button value="searchBy=hash">Search by hash</mat-radio-button>
        <mat-radio-button value="hash=true">Get hash by name</mat-radio-button>
      </mat-radio-group>
      <div class="search-button-row">
        <button mat-stroked-button
          type="button"
          (click)="searchSchema()">Search</button>
        </div>
    </div>

    <div class="json">
      <header>
        <h3>Json
          <button mat-icon-button
            (click)="copy()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </h3>

      </header>
      <div>
        <pre *ngIf="(jsonArrived$ | async)  as data"
          [innerHTML]=" data| prettyjson:3"></pre>
      </div>
    </div>
  </div>
</div>
