<mat-toolbar color="secondary">
  <div class="header">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1> Schema Uploader</h1>
  </div>
</mat-toolbar>
<mat-sidenav-container class="content">
  <mat-sidenav #sidenav
               mode="side"
               [(opened)]="isExpanded">
    <mat-list>
    </mat-list>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/dashboard']">
        <a matLine>Dashboard</a>
        <button mat-icon-button>
          <mat-icon>dashboard</mat-icon>
        </button>

      </mat-list-item>
      <mat-list-item [disabled]="true" [routerLink]="['/search']">
        <a  matLine>Search</a>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>

      </mat-list-item>
      <mat-list-item [routerLink]="['/upload']">
        <a matLine>IPFS Upload</a>
        <button mat-icon-button>
          <mat-icon>file_upload</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




