<mat-toolbar color="secondary">
  <div class="header">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1> Schema Uploader</h1>
  </div>
  <div class="select">
    <mat-button-toggle-group name="source" (change)="change($event)"  aria-label="source">
      <mat-button-toggle [checked]="defaultSource == 'IPFS'"  value="IPFS">IPFS</mat-button-toggle>
      <mat-button-toggle [checked]="defaultSource == 'ETH'" value="ETH">ETH</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-toolbar>
<section class="loading" *ngIf="loadingService.loading$ | async">
  <mat-progress-bar
    color="primary"
    mode="indeterminate">
  </mat-progress-bar>
</section>
<mat-sidenav-container class="content">
  <mat-sidenav #sidenav
               mode="side"
               [(opened)]="isExpanded">
    <mat-list>
    </mat-list>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/search']">
        <a matLine>Search</a>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>

      </mat-list-item>
      <mat-list-item [routerLink]="['/upload']">
        <a matLine>Upload</a>
        <button mat-icon-button>
          <mat-icon>file_upload</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




