mat-sidenav {
  width: 250px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: inline-flex;
  align-items: center;
}

mat-select {
  height: 20px;
}

.content {
  height: calc(100% - 64px);
}
